<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/javascripts/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/javascripts/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script  src='/javascripts/jquery/dist/jquery.js'></script>
    <script  src='/javascripts/jquery-ui/jquery-ui.js'></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/javascripts/select2/dist/js/select2.min.js"></script>
    <link rel='stylesheet' href="/javascripts/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <ul>
          <li>
            <span>I Nostri Canali Social</span>
          </li>
          <li>
            <a class="fa fa-facebook fa-lg" style="width:50px; border-radius: 5px" href="" role="button"></a>
            <a class="fa fa-instagram fa-lg" style="width:50px;  border-radius: 5px" href="" role="button">
            </a>
          </li>
        </ul>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" >Francesco Rostagno</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <a href="https://s3.privyr.com/privacy/privacy-policy.html?d=eyJlbWFpbCI6InJvc3RhZ25vLmZyYW5jZXNjb0BnbWFpbC5jb20iLCJjb21wYW55IjoiIGxlZ2VuZGFyeXNpdGUiLCJnZW5fYXQiOiIyMDIyLTA1LTEyVDEyOjI4OjMzLjgzNFoifQ==">Policy Privacy</a>
</html>
